body {
  background-color: #D0DCDB;
}
<<<<<<< HEAD

img.displayed.cycleslide {
  background-size: cover;
}

body .navbar-inner li {
  line-height: 50px;
  letter-spacing: 4px;
  background-color: #F7CCA1;
}
body .bandeau {
  background-color: #F7CCA1;
}
body .nav-link {
  border-top: 4px solid white;
  transition: border-top .3s;
}
body .nav-link:hover {
  border-top: 4px solid #F7CCA1;
}
body .dropdown-menu li > a:hover, body .dropdown-menu li > a:focus, body .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #F7CCA1;
}
body .header {
  background-color: #E6E9EB;
  /* remove the gradient */
  background-image: none !important;
  border-bottom: 2px solid #F7CCA1 !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}
body .cycle-slideshow .displayed {
  padding: 10px;
}
body .titre {
=======
body .cycle-slideshow {
>>>>>>> bbbb45dae476c8ac68f82348a76de7a4498da696
  text-align: center;
}

h1 {
  text-align: center;
}

header {
  background-color: black;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align: center;
  border-radius: 5px;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 130px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li:last-child {
  border-right: none;
}

img {
  margin-left: 1%;
  bottom: 0%;
}

footer {
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0%;
  border: 1px solid black;
}
