body .navbar-inner li {
  line-height: 50px;
  letter-spacing: 4px;
  background-color: #F7CCA1;
}
body .nav-link {
  border-top: 4px solid white;
  transition: border-top .3s;
}
body .nav-link:hover {
  border-top: 4px solid #F7CCA1;
}
body .dropdown-menu li > a:hover, body .dropdown-menu li > a:focus, body .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #F7CCA1;
}
body .header {
  background-color: #E6E9EB;
  /* remove the gradient */
  background-image: none !important;
  border-bottom: 2px solid #F7CCA1 !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}
body .cycle-slideshow .displayed {
  display: block;
  text-align: center;
}
body .titre {
  text-align: center;
}
body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align: center;
  border-radius: 5px;
}
body li {
  float: left;
  border-right: 1px solid none;
}
body li a {
  display: block;
  color: white;
  padding: 14px 152px;
}

/* Change the link color to #111 (black) on hover */
