@import "compass/css3";

body {
	background-color: #D0DCDB;

	.cycle-slideshow {
		text-align: center;
		
	}

}


h1 {
	text-align: center;
}

header {
	background-color: black;
	padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align: center;
    border-radius: 5px;
}

li {
    float: left;
     border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 130px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
li:last-child {
    border-right: none;
}
img{
	margin-left: 1%;
    bottom: 0%;
}
footer{
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    border: 1px solid black;

}
