@import "compass/css3";

body {
	background-color: #f2eded;

.cycle-slideshow {
	text-align: center;
		
}

	#content{
  color:white;
}

.navbar-inner li{
  line-height: 50px;
  letter-spacing:4px;
  background-color: dodgerblue ;
}

.nav-link{
  border-top: 4px solid white;

  transition: border-top .3s;
  &:hover{border-top: 4px solid dodgerblue; }
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background-image:none;
  /*background-color:dodgerblue;*/
}

.brand{
  letter-spacing:4px;
  border-top: 4px solid white;
  transition: border-top .3s;
}

.header{
  background-color: rgba(255,255,255, .95);
  /* remove the gradient */
  background-image: none !important;
  border-bottom:2px solid dodgerblue !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0,0,0, .2) !important;
}

.dropdown-menu::before, 
.dropdown-menu::after {
    border: none;
    content: none !important;
}

.dropdown-menu{
    border-radius:3%;
    z-index:-3;
    margin-top:-10px;
    margin-right: -60% !important;
}


}




h1 {
	text-align: center;
}

header {
	background-color: white;
	padding: 33px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align: center;
    border-radius: 5px;
}

li {
    float: left;
     border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 152px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

